* {
  margin: 0;
}

.box {
  border: 5px solid transparent;
  background-color: transparent;
  width: 25%;
  float: left;
  box-sizing: border-box;
  text-align: justify;
}

.box img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
